:root {
	--background-body: hsl(211, 80%, 12%);
	--background-main: hsl(211, 100%, 6%);
	--background-banner: hsl(211, 80%, 20%);
	--border: hsl(211, 66%, 66%);
	--highlight: hsl(31, 70%, 70%);
	--border-highlight: hsl(241, 100%, 70%);
	--text: hsl(221, 60%, 80%);

	--background-gradient: repeating-conic-gradient(
		var(--background-main) 0%,
		var(--background-body) 5%,
		var(--background-main) 10%
	);
	--background-gradient-alt: repeating-conic-gradient(
		var(--background-body) 0%,
		var(--background-main) 5%,
		var(--background-body) 10%
	);

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: var(--text);
	background: var(--background-gradient);
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* https://andy-bell.co.uk/a-more-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

.skip-to-main-content-link {
	position: absolute;
	left: -9999px;
	z-index: 999;
	padding: 1em;
	background-color: black;
	color: white;
	opacity: 0;
}
.skip-to-main-content-link:focus {
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
}

.layout-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto 600px auto;
	grid-template-areas:
		"header header header"
		". main ."
		"footer footer footer";
	text-align: center;
	min-height: 100vh;
}

@media (min-width: 700px) {
    .layout-container {
        grid-template-columns: auto 1100px auto;}
}

header {
	grid-area: header;
	background-color: var(--background-banner);
	position: sticky;
	top: 0;
	z-index: 2;
	border-bottom: 2px solid var(--border);
}

main {
	grid-area: main;
	background-color: var(--background-main);
}

footer {
	grid-area: footer;
	background-color: var(--background-banner);
	border-top: 2px solid var(--border);
}
h1 {
	font-size: 3em;
	text-align: center;
	padding: 0.4em 0.4em 0.1em;
}
h2 {
	font-size: 1.8em;
	padding: 0.9em 0.4em 0.2em;
	color: var(--border);
}
h3 {
	font-size: 1.5em;
	padding: 0.4em 0.4em 0.2em;
	color: var(--border);
}
ul {
	list-style: none;
	padding: 0.4em;
}


a {
	font-weight: 500;
	color: var(--border);
	text-decoration: none;
}
a:hover {
	color: var(--highlight);
}
.across {
	display: flex;
	gap: 2em;
	justify-content: center;
	align-items:baseline;
}
.across > * {
	display: inline-block;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: clamp(100px, 500px, 80%);
	margin: 2em auto;
	padding: 1em;
	gap: 1em;
	background: var(--background-gradient);
	border-radius: 8px;
	border: 2px solid var(--border);
	position: relative;
	overflow: hidden;
}

.container:hover {
	box-shadow: 0 0 30px var(--border-highlight);
	border-color: var(--border-highlight);
}

.form-container{
	display:flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em 1em 4em 1em;

	
}


select {
	max-height:3em;
	color: var(--border);
	background-color: var(--background-main);
	border-radius: 8px;
	border: 2px solid var(--border-highlight);
}

button {
	display: inline-block;
	padding: 0 1em;
	height: 3em;
	border-radius: 8px;
	border: 2px solid var(--border);
	background-color: var(--background-main);
	color: var(--highlight);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: var(--border-highlight);
}
button:focus,
button:focus-visible {
	outline: 4px auto purple;
}
details {
	overflow: visible;
}
details summary {
	cursor: pointer;
}
img {
	border: 1px solid var(--border);
	aspect-ratio: 16/10;
	width: clamp(10px, 400px, 80%);
	border-radius: 4px;
	margin: 0 auto;
}

#user{
	aspect-ratio: 1/1;
	width: 20em;
}

.input {
	height: 3em;
	border-radius: 8px;
	border: 2px solid var(--border);
	color: var(--text);
	background-color: var(--background-main);
	padding: 0 0.5em;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	display: block;
	font-weight: bold;
	text-wrap: pretty;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}
